<footer class="footer">
    <div class="footer-container">
        <div class="footer-newsletter max-w-[1302px] h-[300px] flex">
            <div class="newsletter-content">
                <div class="newsletter-heading">Get the latest news delivered to your inbox.</div>
                <div class="newsletter-subtitle">Get access to the exciting stuff — exclusive new deals, product launches and more. Plus, get a 10% discount on your next order.</div>
                <div class="email-input">
                    <input type="email" placeholder="Enter your email address">
                    <button><img src="./assets/images/arrow-white.svg"></button>
                </div>
            </div>
        </div>
        <div class="footer-main">
            <div class="container">
                <div class="footer-categories">
                    <a href="#">SHOP</a>
                    <a href="#">WHY BIOM</a>
                    <a href="#">SCENTS</a>
                    <a href="#"><img src="./assets/images/biom_logo_footer.png" alt=""></a>
                    <a href="#">FAQS</a>
                    <a href="#">ACCOUNT</a>
                    <a href="#">HELP</a>
                </div>
                <hr>
                <div class="footer-bottom">
                    <div class="footer-legal-texts">
                        <small>© 2021 biom. All rights reserved</small>
                        <small>•</small>
                        <small>Privacy Policy</small>
                        <small>•</small>
                        <small>Terms of Service</small>
                    </div>
                    <div class="social-media-icons">
                        <span>
                            <img class="social-instagram" src="./assets/images/footer-instagram.svg">
                        </span>
                        <span>
                            <img class="social-facebook" src="./assets/images/footer-facebook.svg">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

