<footer class="footer">
    <div class="footer-container">
        <div class="footer-newsletter w-[68.6%] h-[300px] bg-concrete flex">
            <div class="newsletter-content">
                <div class="newsletter-heading text-black">Get the latest news delivered to your inbox.</div>
                <div class="newsletter-subtitle text-black">Get access to the exciting stuff — exclusive new deals, product launches and more. Plus, get a 10% discount on your next order.</div>
                <div class="email-input">
                    <input class="text-black" type="email" placeholder="Enter your email address">
                    <button class="bg-sherpa-blue"><img src="./assets/images/arrow-white.svg"></button>
                </div>
            </div>
        </div>
        <div class="footer-main bg-faded-jade">
            <div class="container">
                <div class="footer-categories text-rose-white">
                    <a class="footer-category-link" href="#">SHOP</a>
                    <a class="footer-category-link" href="#">WHY BIOM</a>
                    <a class="footer-category-link" href="#">SCENTS</a>
                    <a href="#"><img src="./assets/images/biom_logo_footer.png" alt=""></a>
                    <a class="footer-category-link" href="#">FAQS</a>
                    <a class="footer-category-link" href="#">ACCOUNT</a>
                    <a class="footer-category-link" href="#">HELP</a>
                </div>
                <hr class="border-sherpa-blue">
                <div class="footer-bottom text-rose-white">
                    <div class="footer-legal-texts">
                        <small>© 2021 biom. All rights reserved</small>
                        <small>•</small>
                        <small>Privacy Policy</small>
                        <small>•</small>
                        <small>Terms of Service</small>
                    </div>
                    <div class="social-media-icons">
                        <span class="bg-rose-white">
                            <img class="social-instagram" src="./assets/images/footer-instagram.svg">
                        </span>
                        <span class="bg-rose-white">
                            <img class="social-facebook" src="./assets/images/footer-facebook.svg">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

