/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Brandon-bold';
    src: url('./assets/brandon-font/Brandon_bld.otf');
    font-weight: bold;
}
@font-face {
    font-family: 'Brandon-medium';
    src: url('./assets/brandon-font/Brandon_med.otf');
    font-weight: 500;
}
@font-face {
    font-family: 'Brandon-regular';
    src: url('./assets/brandon-font/Brandon_reg.otf');
    font-weight: normal;
}
@font-face {
    font-family: 'Chronicle-display-black';
    src: url('./assets/chronicle-display-font/Chronicle_Display_Black.otf');
    font-weight: 900;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

section {
    max-width: 1440px;
    margin: 0 auto;
}

.fixed {
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);
    z-index: 999;
}
.nofixed {
    position: static;
}

.mat-badge-content {
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 18px;
}

.header-category {
    font-family: 'Brandon-bold';
    font-size: 15px;
    letter-spacing: 1.5px;
    line-height: 22px;
}

.banner-button {
    font-family: 'Brandon-medium';
    padding: 0.8rem 2rem;
    border-radius: 6px;
    margin-top: 24px;
}

marquee {
    transform: rotate(270deg);
    width: 657px;
    position: absolute;
    top: 240px;
    left: -211px;
    font-size: 180px;
    line-height: 180px;
    z-index: 0;
}
.meet-biom-image {
    z-index: 1;
    position: relative;
}
.meet-biom-content {
    z-index: 2;
    max-width: 570px;
}
.meet-biom-icon-text:last-child, .biom-wipes-icon-text:last-child {
    margin-bottom: 45px;
}
.section-subtitle {
    font-family: 'Brandon-regular';
    font-size: 14px;
    text-transform: uppercase;
    line-height: 62px;
    letter-spacing: 2.1px;
}
.section-heading {
    font-family: 'Chronicle-display-black';
    font-size: 36px;
    line-height: 62px;
}
.section-short-text {
    font-family: 'Brandon-regular';
    font-size: 18px;
    line-height: 28px;
}

.meet-biom-icon-text, .biom-wipes-icon-text {
    gap: 22px;
    margin-bottom: 35px;
}

.meet-biom-icon-text p, .biom-wipes-icon-text p {
    font-family: 'Brandon-regular';
    font-size: 18px;
    line-height: 26px;
    margin: 0;
}

.meet-biom-button {
    font-family: 'Brandon-medium';
    border-radius: 5px;
    letter-spacing: 1.95px;
    line-height: 30px;
    padding: 6px 40px;
}
app-slider .swiper-slide {
    overflow: hidden;
    border-radius: 15px;
}
.swiper-slide .slide-desription {
    display: none;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}
.swiper-slide:hover .slide-desription {
    display: block;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}
.swiper-slide .needIt-slider-image {
    transition: all 0.3s;
}
.swiper-slide:hover .needIt-slider-image {
    transform: scale(1.1);
}
.slide-desription {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%, 0);
}
.needIt-small {
    font-family: 'Brandon-regular';
    font-size: 16px;
    letter-spacing: 2.4px;
    line-height: 23px;
}
.needIt-big {
    font-family: 'Chronicle-display-black';
    font-size: 78px;
    line-height: 82px;
}
.dispenser-content-left {
    align-self: center;
}
.dispenser-content-left div {
    font-family: 'Chronicle-display-black';
    font-size: 36px;
    line-height: 44px;
    max-width: 315px;
    margin-bottom: 35px;
}
.dispenser-content-left button {
    border-radius: 6px;
    align-items: center;
    padding: 0 10px;
}
.dispenser-content-left button span {
    font-family: 'Brandon-medium';
    font-size: 13px;
    letter-spacing: 1.95px;
    line-height: 40px;
    padding-right: 10px;
}
.dispenser-content-left button img {
    margin-left: 10px;
    transition: transform 0.3s ease;
    transform: translateX(0px);
}
.dispenser-content-left button:hover img {
    transition: transform 0.3s ease;
    transform: translateX(2px);
}
.dispenser-info-container {
    position: absolute;
    bottom: 55px;
    left: 20px;
}
.biom-dispenser {
    font-family: 'Chronicle-display-black';
}
.dispenser-color {
    font-family: 'Brandon-regular';
}

.swiper-wrapper {
    display: flex;
}
.swiper-horizontal {
    display: flex;
    overflow: hidden;
}
.carousel {
    position: relative;
    bottom: 15px;
}

.carousel-container {
    position: relative;
    margin: auto;
    text-align: center;
    max-width: 700px;
    padding: 70px 0;
}
.carousel-subtitle {
    font-family: 'Brandon-regular';
    font-size: 14px;
    letter-spacing: 2.1px;
    line-height: 62px;
}
.carousel-container p {
    display: none;
}

.carousel-container p.testimonial-active, .carousel-container p.testimonial-name-active {
    display: block;
}
.testimonial-text {
    font-family: 'Chronicle-display-black';
    font-size: 25px;
    line-height: 42px;
}
.testimonial-name {
    font-family: 'Brandon-medium';
    font-size: 13px;
    letter-spacing: 1.3px;
    line-height: 62px;
}

.carousel-dot-container {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 20px;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 1rem;
}

.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 5px;
    border-radius: 50%;
    display: inline-block;
    transition: opacity 0.6s ease;
}

.dot.active, .dot:hover {
    background-color: #004A4C;
    border-color: #004A4C;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.carousel-container p {
    display: none;
    animation: fadeIn 1.2s linear;
}

.carousel-container p.testimonial-active {
    display: block;
    animation: fadeIn 1.2s linear;
}

.video-content {
    z-index: 2;
}
.banner-small-text {
    font-family: 'Brandon-regular';
    font-size: 14px;
    letter-spacing: 2.1px;
    line-height: 62px;
}
.banner-heading {
    font-family: 'Chronicle-display-black';
    font-size: 36px;
    line-height: 62px;
}
.banner-subtitle {
    font-family: 'Brandon-regular';
    font-size: 18px;
    line-height: 28px;
}
.instagram-section {
    text-align: -webkit-center;
}
.instagram-heading {
    font-family: 'Chronicle-display-black';
    font-size: 36px;
    line-height: 44px;
    margin: 40px 0;
}

.instagram-button {
    border-radius: 6px;
    align-items: center;
    padding-left: 10px;
    overflow: hidden;
    align-self: center;
    margin: 60px 0 0 0;
}

.instagram-button span {
    font-family: 'Brandon-medium';
    font-size: 13px;
    letter-spacing: 1.95px;
    line-height: 38px;
    padding-right: 10px;
}
.instagram-button img {
    padding: 10px;
}

.instagram-button .instagram-white {
    display: none;
}

.instagram-button:hover .instagram-regular {
    display: none;
}
.instagram-button:hover .instagram-white {
    display: block;
    background: #002D33;
}
.instagram-section .swiper-wrapper {
    height: 300px;
}
.instagram-section .swiper-slide:nth-child(odd) {
    align-self: flex-start;
}
.instagram-section .swiper-slide:nth-child(even) {
    align-self: flex-end;
}
.footer-newsletter {
    background-image: url("./assets/images/Biom_wipe_2.png");
    margin: 0 auto;
    position: relative;
    top: 140px;
    border-radius: 14px;
}
.footer-newsletter .newsletter-content {
    padding: 47px 0 0 111px;
}
.newsletter-content .newsletter-heading {
    font-family: 'Chronicle-display-black';
    font-size: 30px;
    line-height: 38px;
    max-width: 390px;
}
.newsletter-content .newsletter-subtitle {
    font-family: 'Chronicle-display-black';
    font-size: 16px;
    line-height: 26px;
    max-width: 510px;
    margin: 10px 0;
}
.email-input {
    max-width: 363px;
    position: relative;
}
.email-input input{
    font-size: 16px;
    line-height: 30px;
    padding: 8px 170px 8px 15px;
    border-radius: 6px;
}
.email-input input::placeholder{
    font-size: 16px;
    line-height: 30px;
    color: #000000;
}
.email-input button{
    position: absolute;
    right: 4px;
    bottom: 4px;
    padding: 13px;
    border-radius: 6px;
}
.email-input button:hover{
    background: #002D33;
}
.email-input button img {
    transition: transform 0.3s ease;
    transform: translateX(0px);
}
.email-input button:hover img {
    transition: transform 0.3s ease;
    transform: translateX(2px);
}
.footer-main {
    height: 386px;
    display: flex;
    align-items: flex-end;
}

.footer-main .container {
    margin: 0 auto;
    max-width: 1440px;
}
.footer-main hr {
    width: 96%;
    margin: 0 auto;
}
.footer-main .footer-categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 55px;
    max-width: 870px;
    margin: 0 auto;
}
.footer-categories a {
    font-family: 'Brandon-bold';
    font-size: 14px;
    letter-spacing: 1.4px;
    line-height: 20px;
}
.footer-main .footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 44px 0 40px 0;
    width: 96%;
    margin: 0 auto;
}
.footer-legal-texts {
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-legal-texts small {
    font-family: 'Brandon-regular';
    font-size: 15px;
    letter-spacing: 0.38px;
    line-height: 22px;
}
.social-media-icons {
    display: flex;
    gap: 10px;
}
.social-media-icons span {
    border-radius: 50%;
}
.social-media-icons .social-instagram {
    padding: 7px;
}
.social-media-icons .social-facebook {
    padding: 7px 11px;
}

.two-box-container {
    margin: 60px 0 140px 0;
}

.two-image-container .first-image {
    position: relative;
    bottom: 40px;
    left: 75px;
}
.two-image-container .second-image {
    position: absolute;
    left: 350px;
    top: 300px;
}
.biom-wipes-content {
    max-width: 1440px;
    width: 58%;
    height: 606px;
    border-radius: 12px;
}
.biom-wipes-content-container {
    max-width: 500px;
    margin: 0 auto;
}
.biom-wipes-content-container .section-short-text {
    margin-bottom: 35px;
}
.biom-wipes-icon-text {
    margin-left: 75px;
}
.biom-wipes-button {
    margin-left: 75px;
}

.tablet-mobile-sidebar {
    /* Style the sidebar to slide in from the left */
    /* Adjust the width, background color, and other styles as desired */
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    top: 68px;    

  }
  
  .tablet-mobile-sidebar.show {
    transform: translateX(0);
    top: 68px;
  }

  @media screen and (max-width:768px) {

    .footer-main {
        height: fit-content;
        padding-top: 100px
    }
    .footer-categories {
        flex-direction: column;
        gap: 20px;
    }
    .footer-bottom {
        flex-direction: column-reverse;
        align-items: center;
        gap: 10px;
    }
    .footer-newsletter {
        width: 85%;
        height: fit-content;
        top: 80px;
    }
    .footer-legal-texts small {
        font-size: 11px;
    }
    .footer-newsletter .newsletter-content {
        text-align: center;
        padding: 20px;
        margin: 0 auto;
    }
    .newsletter-content .newsletter-heading {
        margin: 0 auto;
        font-size: 26px;
        line-height: 32px;
    }
    .newsletter-content .newsletter-subtitle {
        font-size: 14px;
        line-height: 22px;
    }
    .email-input {
        margin: 0 auto;
    }
    .email-input input {
        width: 100%;
        padding: 8px 30px 8px 15px;
    }
    .banner-image-content .banner-heading {
        font-size: 26px;
        max-width: 220px;
      }
    .banner-image-content .banner-button {
        font-size: 12px;
        padding: 0.5rem 1rem;
    }
    .banner-image-content {
        left: 3rem;
    }
    
    .meet-biom-content .section-heading {
        font-size: 30px;
        line-height: 44px;
    }
    .meet-biom-content .section-short-text {
        font-size: 16px;
    }
    
    .meet-biom-icon-text {
        gap: 15px;
    }
    .needIt-small {
        font-size: 14px;
        line-height: 22px;
    }
    .needIt-big {
        font-size: 56px;
        line-height: 65px;
    }
    .testimonial-text {
        font-size: 18px;
        line-height: 32px;
    }
    .testimonial-name {
        font-size: 11px;
        line-height: 52px;
    }
    .video-content .banner-small-text {
        font-size: 12px;
        line-height: 40px;
    }
    .video-content .banner-heading {
        font-size: 30px;
        line-height: 40px;
    }
    .video-content .banner-subtitle {
        font-size: 16px;
        line-height: 26px;
    }
    .video-content .banner-button {
        font-size: 12px;
        padding: 0.5rem 1rem;
    }
  }
  .banner-image-content .banner-heading {
    line-height: 44px;
  }

  @media screen and (max-width:1440px) {
    .banner-image-content {
        transform: translate(0%, -10%);
    }
    .swiper {
        padding: 0 15px;
    }
  }

  @media screen and (max-width:1024px) {
    .banner-image-content .banner-subtitle {
        font-size: 16px;
      }
      .meet-biom-content {
        position: unset;
        width: 80%;
        margin: 0 auto;
        max-width: unset;
    }
    .meet-biom-wrapper {
        text-align: center;
    }
    .meet-biom-info {
        max-width: 310px;
        margin: 0 auto;
    }
    .dispenser-section {
        padding: 0 20px;
    }
    .dispenser-content-left div {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    .dispenser-content-left button span {
        line-height: 24px;
    }
    
  }

  @media screen and (max-width:992px) {
    .dispenser-content-left button span {
        line-height: 40px;
    }
    .dispenser-content-left {
        text-align: center;
        margin: 20px 0;
    }
    .dispenser-content-left div {
        font-size: 28px;
        line-height: 38px;
    }
    .dispenser-content-left button {
        margin: 0 auto;
    }
    .dispenser-section {
        flex-direction: column;
    }
    .dispenser-container:hover img {
        transform: translate(0);
    }
    .dispenser-container .dispenser-info-container {
        display: block;
        text-align: center;
        position: unset;
    }
  }

  @media screen and (max-width:575px) {
    .banner-image-content .banner-subtitle {
        display: none;
      }
    marquee {
        width: 59%;
        top: 50px;
        font-size: 70px;
        line-height: 60px;
        left: 160px;
        transform: rotate(0deg);
    }
    .meet-biom-wrapper {
        overflow: hidden;
        padding: 0 15px;
    }
    .meet-biom-icon-text {
        flex-direction: column;
    }
    .needIt-small {
        font-size: 12px;
        line-height: 20px;
    }
    .needIt-big {
        font-size: 44px;
        line-height: 52px;
    }
    .biom-wipes-content-container {
        padding: 15px;
    }
    .biom-wipes-info {
        max-width: 250px;
        margin: 0 auto;
    }
    .video-content .banner-small-text {
        font-size: 10px;
        line-height: 22px;
    }
    .video-content .banner-heading {
        font-size: 18px;
        line-height: 24px;
    }
    .video-content .banner-subtitle {
        display: none;
    }
    .video-content .banner-button {
        font-size: 10px;
    }
  }

  @media screen and (max-width:1300px) {
    .meet-biom-content {
        top: 15px;
        right: 2rem;
    }
    .meet-biom-content .section-subtitle {
        line-height: 34px;
    }
    .meet-biom-content .section-heading {
        line-height: 40px;
    }
  }

  @media screen and (max-width: 1200px) {
    .two-box-container {
        flex-direction: column;
    }
    .two-image-container {
        display: flex;
        align-items: center;
        margin: 0 auto;
    }
    .two-image-container .first-image {
        width: 100%;
        max-width: 300px;
        position: unset;
    }
    .two-image-container .second-image {
        position: unset;
        transform: translate(-85px, 0);
        width: 38%;
        max-width: 150px;
    }
    .biom-wipes-content {
        width: 100%;
        text-align: center;
        height: fit-content;
    }
    .biom-wipes-icon-text {
        margin-left: 0;
        flex-direction: column;
    }
    .biom-wipes-button {
        margin-left: 0;
        margin-bottom: 20px;
    }
    .biom-wipes-content-container .section-subtitle {
        font-size: 12px;
        line-height: 40px;
    }
    .biom-wipes-content-container .section-heading {
        font-size: 26px;
        line-height: 42px;
    }
    .biom-wipes-content-container .section-short-text {
        font-size: 16px;
        line-height: 26px;
    }
  }

  @media screen and (min-width:992px) {
    .dispenser-container .dispenser-info-container{
        display: none;
        transition: transform 0.3s ease;
    }
    .dispenser-container:hover .dispenser-info-container {
        display: block;
        transition: transform 0.3s ease;
    }
    .dispenser-container img {
        transition: transform 0.3s ease;
        transform: translateX(0px);
    }
    .dispenser-container:hover img {
        transition: transform 0.3s ease;
        transform: translateX(40px);
    }
  }
  @media screen and (min-width:992px) and (max-width:1024px) {
    .dispenser-container:hover img {
        transform: translateX(60px);
    }
  }