/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Brandon-bold';
    src: url('./assets/brandon-font/Brandon_bld.otf');
    font-weight: bold;
}
@font-face {
    font-family: 'Brandon-medium';
    src: url('./assets/brandon-font/Brandon_med.otf');
    font-weight: 500;
}
@font-face {
    font-family: 'Brandon-regular';
    src: url('./assets/brandon-font/Brandon_reg.otf');
    font-weight: normal;
}
@font-face {
    font-family: 'Chronicle-display-black';
    src: url('./assets/chronicle-display-font/Chronicle_Display_Black.otf');
    font-weight: 900;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

section {
    max-width: 1440px;
    margin: 0 auto;
}

.footer-container {
    margin: 0 auto;
}

.fixed {
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);
    z-index: 999;
}
.nofixed {
    position: static;
}

.mat-badge-content {
    background: #DDA74A!important;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 18px;
    border: 1px solid #fff;
}

.header-category {
    font-family: 'Brandon-bold';
    font-size: 15px;
    letter-spacing: 1.5px;
    line-height: 22px;
    color: #000000;
}

.banner-button {
    font-family: 'Brandon-medium';
    color: #004A4C;
    background-color: #fff;
    padding: 0.8rem 2rem;
    border-radius: 6px;
    margin-top: 24px;
}

marquee {
    color: #F2F2F2;
    transform: rotate(270deg);
    width: 657px;
    position: absolute;
    top: 240px;
    left: -211px;
    font-size: 180px;
    line-height: 180px;
    z-index: 0;
}
.meet-biom-image {
    z-index: 1;
    position: relative;
}
.meet-biom-content {
    z-index: 2;
    max-width: 570px;
}
.meet-biom-icon-text:last-child, .biom-wipes-icon-text:last-child {
    margin-bottom: 45px;
}
.section-subtitle {
    font-family: 'Brandon-regular';
    font-size: 14px;
    text-transform: uppercase;
    color: #002D33;
    line-height: 62px;
    letter-spacing: 2.1px;
}
.section-heading {
    font-family: 'Chronicle-display-black';
    font-size: 36px;
    color: #002D33;
    line-height: 62px;
}
.section-short-text {
    font-family: 'Brandon-regular';
    font-size: 18px;
    color: #002D33;
    line-height: 28px;
}

.meet-biom-icon-text, .biom-wipes-icon-text {
    gap: 22px;
    margin-bottom: 35px;
}

.meet-biom-icon-text p, .biom-wipes-icon-text p {
    font-family: 'Brandon-regular';
    font-size: 18px;
    color: #002D33;
    line-height: 26px;
    margin: 0;
}

.meet-biom-button {
    font-family: 'Brandon-medium';
    background: #004A4C;
    border-radius: 5px;
    color: #FFFAFA;
    letter-spacing: 1.95px;
    line-height: 30px;
    padding: 6px 40px;
}
app-slider .swiper-slide {
    overflow: hidden;
    border-radius: 15px;
}
.swiper-slide .slide-desription {
    display: none;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}
.swiper-slide:hover .slide-desription {
    display: block;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}
.swiper-slide .needIt-slider-image {
    transition: all 0.3s;
}
.swiper-slide:hover .needIt-slider-image {
    transform: scale(1.1);
}
.slide-desription {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
}
.needIt-small {
    font-family: 'Brandon-regular';
    font-size: 16px;
    letter-spacing: 2.4px;
    line-height: 23px;
    color: #FFFFFF;
}
.needIt-big {
    font-family: 'Chronicle-display-black';
    font-size: 78px;
    line-height: 82px;
    color: #FFFFFF;
}
.dispenser-content-left {
    align-self: center;
}
.dispenser-content-left div {
    font-family: 'Chronicle-display-black';
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    max-width: 315px;
    margin-bottom: 35px;
}
.dispenser-content-left button {
    color: #002D33;
    border-radius: 6px;
    border: 1px solid #002D33;
    align-items: center;
    padding: 0 10px;
}
.dispenser-content-left button span {
    font-family: 'Brandon-medium';
    border-right: 1px solid #002D33;
    font-size: 13px;
    letter-spacing: 1.95px;
    line-height: 40px;
    padding-right: 10px;
}
.dispenser-content-left button img {
    margin-left: 10px;
    transition: transform 0.3s ease;
    transform: translateX(0px);
}
.dispenser-content-left button:hover img {
    transition: transform 0.3s ease;
    transform: translateX(2px);
}
.dispenser-container .dispenser-info-container{
    display: none;
    transition: transform 0.3s ease;
}
.dispenser-container:hover .dispenser-info-container {
    display: block;
    transition: transform 0.3s ease;
}
.dispenser-container img {
    transition: transform 0.3s ease;
    transform: translateX(0px);
}
.dispenser-container:hover img {
    transition: transform 0.3s ease;
    transform: translateX(40px);
}
.dispenser-info-container {
    position: absolute;
    bottom: 55px;
    left: 20px;
}
.biom-dispenser {
    font-family: 'Chronicle-display-black';
}
.dispenser-color {
    font-family: 'Brandon-regular';
}

.swiper-wrapper {
    display: flex;
}
.swiper-horizontal {
    display: flex;
    overflow: hidden;
}
.carousel {
    background: #F2F2F2;
    position: relative;
    bottom: 15px;
}

.carousel-container {
    position: relative;
    margin: auto;
    text-align: center;
    max-width: 700px;
    padding: 70px 0;
}
.carousel-subtitle {
    font-family: 'Brandon-regular';
    font-size: 14px;
    letter-spacing: 2.1px;
    line-height: 62px;
    color: #002D33;
}
.carousel-container p {
    display: none;
}

.carousel-container p.testimonial-active, .carousel-container p.testimonial-name-active {
    display: block;
}
.testimonial-text {
    font-family: 'Chronicle-display-black';
    font-size: 25px;
    line-height: 42px;
    color: #002D33;
}
.testimonial-name {
    font-family: 'Brandon-medium';
    font-size: 13px;
    letter-spacing: 1.3px;
    line-height: 62px;
    color: #002D33;
}

.carousel-dot-container {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 20px;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 1rem;
}

.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 5px;
    background-color: #F2F2F2;
    border: 1px solid #004A4C;
    border-radius: 50%;
    display: inline-block;
    transition: opacity 0.6s ease;
}

.dot.active, .dot:hover {
    background-color: #004A4C;
    border-color: #004A4C;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.carousel-container p {
    display: none;
    animation: fadeIn 1.2s linear;
}

.carousel-container p.testimonial-active {
    display: block;
    animation: fadeIn 1.2s linear;
}

.video-content {
    z-index: 2;
}
.banner-small-text {
    font-family: 'Brandon-regular';
    font-size: 14px;
    letter-spacing: 2.1px;
    line-height: 62px;
    color: #FFFAFA;
}
.banner-heading {
    font-family: 'Chronicle-display-black';
    font-size: 36px;
    line-height: 62px;
    color: #FFFAFA;
}
.banner-subtitle {
    font-family: 'Brandon-regular';
    font-size: 18px;
    line-height: 28px;
    color: #FFFAFA;
}
.instagram-section {
    text-align: -webkit-center;
}
.instagram-heading {
    font-family: 'Chronicle-display-black';
    font-size: 36px;
    line-height: 44px;
    color: #002D33;
    margin: 40px 0;
}

.instagram-button {
    color: #002D33;
    border-radius: 6px;
    outline: 1px solid #002D33;
    align-items: center;
    padding-left: 10px;
    overflow: hidden;
    align-self: center;
    margin: 60px 0 0 0;
}

.instagram-button span {
    font-family: 'Brandon-medium';
    border-right: 1px solid #002D33;
    font-size: 13px;
    letter-spacing: 1.95px;
    line-height: 38px;
    padding-right: 10px;
}
.instagram-button img {
    padding: 10px;
}

.instagram-button .instagram-white {
    display: none;
}

.instagram-button:hover .instagram-regular {
    display: none;
}
.instagram-button:hover .instagram-white {
    display: block;
    background: #002D33;
}
.instagram-section .swiper-wrapper {
    height: 300px;
}
.instagram-section .swiper-slide:nth-child(odd) {
    align-self: flex-start;
}
.instagram-section .swiper-slide:nth-child(even) {
    align-self: flex-end;
}
.footer-newsletter {
    background-image: url("./assets/images/Biom_wipe_2.png");
    margin: 0 auto;
    position: relative;
    top: 140px;
    background-color: #F2F2F2;
    border-radius: 14px;
}
.footer-newsletter .newsletter-content {
    padding: 47px 0 0 111px;
}
.newsletter-content .newsletter-heading {
    font-family: 'Chronicle-display-black';
    font-size: 30px;
    line-height: 38px;
    color: #000000;
    max-width: 390px;
}
.newsletter-content .newsletter-subtitle {
    font-family: 'Chronicle-display-black';
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    max-width: 510px;
    margin: 10px 0;
}
.email-input {
    max-width: 363px;
    position: relative;
}
.email-input input{
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    padding: 8px 170px 8px 15px;
    border-radius: 6px;
}
.email-input input::placeholder{
    font-size: 16px;
    line-height: 30px;
    color: #000000;
}
.email-input button{
    position: absolute;
    right: 4px;
    bottom: 4px;
    padding: 13px;
    background: #004A4C;
    border-radius: 6px;
}
.email-input button:hover{
    background: #002D33;
}
.email-input button img {
    transition: transform 0.3s ease;
    transform: translateX(0px);
}
.email-input button:hover img {
    transition: transform 0.3s ease;
    transform: translateX(2px);
}
.footer-main {
    background: #487D7F;
    height: 386px;
    display: flex;
    align-items: flex-end;
}

.footer-main .container {
    margin: 0 auto;
    max-width: 1440px;
}
.footer-main hr {
    width: 96%;
    margin: 0 auto;
    border-color: #004A4C;
}
.footer-main .footer-categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 55px;
    max-width: 870px;
    margin: 0 auto;
    color: #FFFAFA;
}
.footer-categories a {
    font-family: 'Brandon-bold';
    font-size: 14px;
    letter-spacing: 1.4px;
    line-height: 20px;
}
.footer-main .footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 44px 0 40px 0;
    width: 96%;
    margin: 0 auto;
    color: #FFFAFA;
}
.footer-legal-texts {
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-legal-texts small {
    font-family: 'Brandon-regular';
    font-size: 15px;
    letter-spacing: 0.38px;
    line-height: 22px;
}
.social-media-icons {
    display: flex;
    gap: 10px;
}
.social-media-icons span {
    background: #FFFAFA;
    border-radius: 50%;
}
.social-media-icons .social-instagram {
    padding: 7px;
}
.social-media-icons .social-facebook {
    padding: 7px 11px;
}

.two-box-container {
    margin: 60px 0 140px 0;
}

.two-image-container .first-image {
    position: relative;
    bottom: 40px;
    left: 75px;
}
.two-image-container .second-image {
    position: absolute;
    bottom: -60px;
    right: -200px;
}
.biom-wipes-content {
    max-width: 1440px;
    width: 58%;
    background: #DAE5E5;
    height: 606px;
    border-radius: 12px;
}
.biom-wipes-content-container {
    max-width: 500px;
    margin: 0 auto;
}
.biom-wipes-content-container .section-short-text {
    margin-bottom: 35px;
}
.biom-wipes-icon-text {
    margin-left: 75px;
}
.biom-wipes-button {
    margin-left: 75px;
}